body, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: Outfit;
    text-align: center;
    color: #2e302d;
}

body {
    background-color: #f5f8fa;
}   
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.buy {
    background-color:#799ff1;
    color: #f5f8fa;
    border-width: 0;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 5%;
}
.buy:hover {
    transform: scale(1.2);
    background-color:#3d70dd;
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
    
}

h2 {
    font-size:2.488rem;
}

h1 {
    margin-top: 50px;
    font-size: 2.986rem;
}

img {
    width: 10vw;
    height: 30vh;
    margin-top: 5%;
}

.card {
 margin: 2%;
 box-shadow: rgba(0, 0, 0, 1) 4px 5px 3px;   
 border: 10px solid #142b5c;
 width: 400px;
 height: 45vh;
 background-color: #FFFF;
 border-radius: 8px;
 background-color: #FFFF;
}

.card__bottom {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: auto;
}
.card_heading {
    width: 1vw;
    font-weight: 700;
    margin: 0 auto;
    font-size: 30px;
}
.card__bottom h3 {
    margin-left: 5%;
    font-weight: 400;   
}
#essence {
    width: 8vw;
    height: 30vh;
}

.divider {
    background-color: #142b5c;
    height: 2px;
    opacity: 50%;
}

.cart__product {
    font-weight: 400;
}
.cart {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 2%;
}
.total {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.cart__product {
    border: #2e302d;
    font-size: 1.728rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 2%;
}

.remove--buttons {
  display: flex;
  flex-shrink: 0;
}
@media screen and (max-width:700px){
    .card {
        width: 100%;
        height: 100%;
    }
    .container {
        flex-direction: column;
    }
    .card img {
        width: 50%;
    }
    .buy {
        margin-bottom: 10px;
    }
}   
@media screen and (max-width:1000px){
    .card {
        width: 100%;
    }
    .container {
        flex-direction: column;
    }
    .card img {
        width: 50%;
    }
}   